/*
    Definition of CART's style.
*/
.cart {
    display: flex;
    flex-direction: column;

    &-title{
        width: 100%;
        font-size: 2rem;
        text-align: center;
        background-color: #a265ca;
    }
    &-wrapper{
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        margin: 10px 0px;
    
        &-img {
            height: 100px;
            max-width: 100px;
        }
    }
    &-total, &-taxes{
        display: flex;
        flex-direction: row;
    }
}