/*
    Definition of CART's style.
*/
.cart {
    display: flex;
    flex-direction: column;

    &-title{
        width: calc(100% - 10px);
        font-size: 2rem;
        text-align: center;
        background-color: #a265ca;
    }

    &-wrapper{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        width: calc(100% - 10px);

        &-description, &-name, &-price{
            padding: 2%;
        }
        &-img {
            height: 300px;
            object-fit: contain;
        }
    }
    &-quantity{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &-total{
            padding: 2%;
        }
    }


    &-total, &-taxes{
        display: flex;
        flex-direction: row;
    }
}