.card {
    max-width: calc(50% - 20px);
    height: 500px;
    margin: 10px;
    opacity: 1;
    transition:
        font-size 300ms ease-in-out,
        opacity 300ms ease-in-out;
    &:hover {
        opacity: 0.5;
    }
    &-img {
        height: 300px;
    }
    &-footer {
        display: flex;
        flex-direction: row;
        justify-content: center!important;
        border: none!important;
        background-color: rgba(0,0,0,0);
    }
    &.one{
        align-items: center;
        width: 50%;
        margin: 100px auto;
    }
    &.one:hover {
        opacity: inherit;
    }
}