/*
    Definition of CARD's style.
*/
.card {
    max-width: calc(50% - 20px);
    height: 500px;
    margin: 10px;
    opacity: 1;
    transition:
        font-size 300ms ease-in-out,
        opacity 300ms ease-in-out;


    &-img { 
        height: 300px;
        object-fit: contain;
    }

    &-footer {
        display: flex;
        flex-direction: row;
        justify-content: center!important;
        border: none!important;
        background-color: rgba(0,0,0,0);
    }
    
    &:last-child{
        margin: 10px auto;
    }
    &--selected {margin: 100px auto!important; opacity: inherit!important}

    &:hover {opacity: 0.5;}

    @media(max-width:722px) {
        margin: 10px auto;
        max-width: inherit;
    }
}



