/*
    Definition of NAVBAR's style.
*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
    &.bg-primary {
        background-color: $primary-bg-color!important;
    }
    >.navbar-brand{
        font-size: $font-size-medium;
        margin-left: $margin-size;
    }
    >.navbar-brand > img{
        height: 100px;
    }
    >.navbar-cart{
        width: 50px;
        margin-right: 20px;
        cursor: pointer;
    }
    >.navbar-cart > .fa-shopping-cart {
        color: $danger-bg-color;
        font-size: $font-size-medium;
        margin-right: $margin-size;
    }
}