.resume{
    display: flex;
    flex-direction: column;

    &-product {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-order {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}