//COLOR
$primary-bg-color: #f3e9f1;
$danger-bg-color: #8B0000;
$sucess-bg-color: #00FF00;

//MARGIN
$margin-size: 20px;

//FONT SIZE
$font-size-x-small: 1rem;
$font-size-small: 1.5rem;
$font-size-medium: 2.1rem;