/* Configuration of the page */
html, body {
  background: #f3e9f1;
}

.btn {
  background-color: #d9832e !important;
  border: none;
}

.resume {
  display: flex;
  flex-direction: column;
}
.resume-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.resume-order {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*
    Definition of NAVBAR's style.
*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
nav.bg-primary {
  background-color: #f3e9f1 !important;
}
nav > .navbar-brand {
  font-size: 2.1rem;
  margin-left: 20px;
}
nav > .navbar-brand > img {
  height: 100px;
}
nav > .navbar-cart {
  width: 50px;
  margin-right: 20px;
  cursor: pointer;
}
nav > .navbar-cart > .fa-shopping-cart {
  color: #d9832e;
  font-size: 2.1rem;
  margin-right: 20px;
}

/*
    Definition of CART's style.
*/
.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2%;
}
.cart-title {
  width: calc(100% - 10px);
  font-size: 2rem;
  text-align: center;
  background-color: #d9832e;
}
.cart-wrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  width: calc(25% - 10px);
}
.cart-wrapper-description, .cart-wrapper-name, .cart-wrapper-price {
  padding: 2%;
}
.cart-wrapper-img {
  height: 300px;
  object-fit: fill;
}
.cart-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cart-quantity-total {
  padding: 2%;
}
.cart-total, .cart-taxes {
  display: flex;
  flex-direction: row;
}

/*
    Definition of PRODUCTS's style.
*/
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.products--selected {
  flex-direction: column;
  align-items: center;
}
@media (max-width: 722px) {
  .products {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

/*
    Definition of CARD's style.
*/
.card {
  max-width: calc(50% - 20px);
  height: auto;
  margin: 10px;
  opacity: 1;
  border: 1px solid #d9832e;
  transition: font-size 300ms ease-in-out, opacity 300ms ease-in-out;
}
.card-img {
  height: auto;
  width: 100%;
  object-fit: fill;
}
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  border: none !important;
  background-color: rgba(0, 0, 0, 0);
}
.card--selected {
  margin: 100px auto !important;
  opacity: inherit !important;
}
.card:last-child {
  margin: 10px auto;
}
.card:hover {
  opacity: 0.5;
}
@media (max-width: 722px) {
  .card {
    margin: 10px auto;
    max-width: inherit;
  }
}

/*
    Definition of QUANTITY's style.
*/
#quantity {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2.1rem;
  right: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > .presentation > .presentation-title {
  text-align: center;
}

/*
    Definition of FOOTER's style.
*/
footer {
  margin-top: 2%;
  font-size: 1.5rem;
}
footer > .copyright {
  background-color: #d9832e;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
