/*
    Definition of FOOTER's style.
*/
footer {
    margin-top: 2%;
    font-size: $font-size-small;

    >.copyright {
        background-color: $danger-bg-color;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}